version: "3.9"

services:
  app:
    build: .
    container_name: blazingfeed-app
    ports:
      - "3000:3000"
    environment:
      MONGO_URI: mongodb://mongo:27017/blazingfeed
      MONGO_DB_NAME: blazingfeed
      REDIS_HOST: redis
      REDIS_PORT: 6379
      PORT: 3000
    depends_on:
      - mongo
      - redis

  mongo:
    image: mongo:6
    container_name: blazingfeed-mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7
    container_name: blazingfeed-redis
    restart: unless-stopped
    ports:
      - "6379:6379"

volumes:
  mongo_data:
